/Clase 1/Clase1/nbproject/private/
/Clase 1/Clase1/build/
/Clase 2/Clase 2/nbproject/private/
/Clase 2/Clase 2/build/
/Clase 3/nbproject/private/
/Clase 3/build/
/Clase 4/nbproject/private/
/Clase 4/build/
/Clase 5/nbproject/private/
/Clase 5/build/
/Clase 6/nbproject/private/
/Clase 6/build/